.background {
  viewport-fill: blue;
}

#heartRateLabel {
  font-size: 120;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 40%+40;
  fill: white;
}

#currentTimeLabel {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 80%+40;
  fill: white;
}
